JUDGE0_TELEMETRY_ENABLE=false
ENABLE_WAIT_RESULT=true
ENABLE_COMPILER_OPTIONS=false
ENABLE_COMMAND_LINE_ARGUMENTS=false
ENABLE_SUBMISSION_DELETE=false
ENABLE_BATCHED_SUBMISSIONS=true
ENABLE_CALLBACKS=false
ENABLE_ADDITIONAL_FILES=false
USE_DOCS_AS_HOMEPAGE=false
COUNT=${JUDGE0_WORKERS}
MAX_QUEUE_SIZE=${JUDGE0_MAX_QUEUE_SIZE}
ALLOW_IP=${JUDGE0_ALLOW_IP}
AUTHN_HEADER=${JUDGE0_AUTH_HEADER}
AUTHN_TOKEN=${JUDGE0_AUTH_TOKEN}
REDIS_HOST=judge0-redis
REDIS_PORT=6379
REDIS_PASSWORD=${JUDGE0_REDIS_PASSWORD}
POSTGRES_HOST=judge0-db
POSTGRES_PORT=5432
POSTGRES_DB=${JUDGE0_POSTGRES_DB}
POSTGRES_USER=${JUDGE0_POSTGRES_USER}
POSTGRES_PASSWORD=${JUDGE0_POSTGRES_PASSWORD}
CPU_TIME_LIMIT=${JUDGE0_CPU_TIME_LIMIT}
MAX_CPU_TIME_LIMIT=${JUDGE0_MAX_CPU_TIME_LIMIT}
WALL_TIME_LIMIT=10
MAX_WALL_TIME_LIMIT=20
MEMORY_LIMIT=${JUDGE0_MEMORY_LIMIT}
MAX_MEMORY_LIMIT=${JUDGE0_MAX_MEMORY_LIMIT}
MAX_PROCESSES_AND_OR_THREADS=60
MAX_MAX_PROCESSES_AND_OR_THREADS=120
MAX_FILE_SIZE=1024
MAX_MAX_FILE_SIZE=4096
MAX_EXTRACT_SIZE=10240
ALLOW_ENABLE_NETWORK=false
ENABLE_NETWORK=false
RAILS_ENV=production
RAILS_SERVER_PROCESSES=1
RAILS_MAX_THREADS=2
SECRET_KEY_BASE=${JUDGE0_AUTH_TOKEN}
